header {
    background-color: #111111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
}

.header-icon {
    width: 80px;
    height: auto;
    flex-shrink: 0;
}

.navbar {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-grow: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

.navbar a:hover {
    border-bottom: 2px solid white; 
    padding-bottom: 8px;
}

footer {
    color: rgb(97, 97, 97);
    text-align: center;
    padding: 5px 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}